model_config_list {
  // this has to be updated every time we add a new model
  config {
    name: 'my_first_model'
    base_path: '/usr/src/models/my_first_model/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'my_second_model'
    base_path: '/tmp/my_second_model/'
    model_platform: 'tensorflow'
  }
}